extends layout.pug

block append scripts
  script(src='/start.js')

block content
  h1 app started
  
  if frontendowner
    p You have the controls:  #[a(href='/stop') Stop bot]
    
  p last feedback: 
    span#action #{status.msg}
     
  
  p last tick:
    span#tick.relativetime (waiting for data)
    div#monitor.monitor &nbsp;
    
    
  table
    thead
      tr
        th &nbsp;
        th Last  access
        th Count
        
    tbody
      tr
        td Ping
        td 
          span#ping (waiting for data) 
          span#ping_human.relativetime 
        td#ping_count #{status.cntPing}
      tr
        td Message
        td 
          span#msg (waiting for data) 
          span#msg_human.relativetime 
        td#msg_count #{status.cntMessage}
        
  
  p room: #{status.room}
  
  p user: #{status.user}
  
  p Loaded user commands:
  ul#cmds
    each val in status.commands ? status.commands : [{command:'(waiting for data)'}]
      li= val.command